<div class="main">
    <div class="navlist">
        <div class="logo">
            <h1>NODRIC <span> ALMUNIUM</span></h1>
        </div>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">Contact us</a></li>
            <li><a href="#">AR</a></li>
            <li class="shure">
  <a href="#">
    <span class="left">Profile</span>
    <span class="right">Broshure</span>
  </a>
</li>
            
        </ul>
    </div>
</div>