.image img{
    width: 300px;
    height: 200px;
    gap: 100px;
}
.images{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 50px;
    margin-top: 50px;
}
.image-gallery{
    margin-top: 50px;
    font-size: 22px;
}
.image-gallery h1{
    margin-left: 200px;
    font-family: sans-serif;
}
.line{
    height: 1px;
    width: 1450px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 300px;
}
.image h2{
    font-size: 23px;
    font-family: sans-serif;
}