.main{
    width: 100%;
    height: 90vh;
    background-image: url('/assets/fractal_urban_planning_01.jpg');

    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    height: 90vh;
    
}
.main{
    height: 85vh;
}
.image-section {
    padding-top: 200px;
    margin-left: 100px;
}
.image-section h1{
    font-size: 40px;
    font-family: sans-serif;
}
.image-section p{
    font-size: 23px;
    font-family: sans-serif;
}
.btn button{
    padding: 17px;
    width: 160px;
    font-size: 17px;
    border-radius: 5px;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.4);;
    color: black;
    font-weight: bolder;
    background: transparent;
    border: none;
    
    border-radius: 5px;
    font-family: sans-serif;
}
.btn button:hover{
    background-color: #26D48C;
    color: black;
    transition: 0.8s;
}